.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding-bottom: 10px;
}

.item {
  border: 1px solid #708238;
  border-radius: 4px;
  padding: 10px 10px;
  width: 370px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}
